{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">
<h2>Sorry, the page cannot be found</h2>
<pre>
  But never met this Fellow,
  Attended or alone
  Without a tighter Breathing
  And Zero at the Bone.
</pre>
<iframe src="https://duckduckgo.com/search.html?site=zeroatthebone.us&prefill=Search DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>

</div>

{{ partial "footer.html" . }}
